<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
    <id>com.fr.plugin.user.guide.v11</id>
    <name><![CDATA[BI-User-Guide]]></name>
    <active>yes</active>
    <version>1.0.0</version>
    <env-version>10.0~11.0</env-version>
    <jartime>2019-08-30</jartime>
    <vendor>finereport</vendor>
    <description><![CDATA[This plugin is used to guide new BI users to use BI]]></description>
    <extra-core>
        <LocaleFinder class="com.finebi.plugin.locale.UserGuideLocaleFinder"/>
    </extra-core>
    <extra-decision>
        <WebResourceProvider class="com.finebi.plugin.UserGuideProcess"/>
        <WebResourceProvider class="com.finebi.plugin.UserGuidePreview"/>
    </extra-decision>
    <function-recorder class="com.finebi.plugin.UserGuideComponent"/>
    <main-package>com.finebi</main-package>
</plugin>